body{
    font-family: sans-serif;
    width: 960px;
    margin: 0px auto;
}
label{
    height: 21px;
}
.content{
    display: flex;
    justify-content: space-evenly;
}
.article{
    text-align: center;
}
.section{
    display: flex;
}
.column{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 10px;
}
li{
    text-align: left;
    color: crimson;
    font-style: italic;
}