body{
    width: 960px;
    font-family: sans-serif;
    text-align: center;
    margin: 0px auto;
}
p{
    text-align: left;
    margin-right: 5px;
}
.break{
    height: 1px;
    background-color: black;
    margin: 10px;
}
#header{
    display: flex;
    justify-content: space-evenly;
}
#footer{
    display: flex;
    justify-content: center;
    text-align: left;
}
form{
    display: flex;
}
.column{
    text-align: left;
}