<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojos and Ninjas</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div id="header">
        <div id="addDojo">
            <h1>Add a Dojo</h1>
        </div>
        <div id="addNinja">
            <h1>Add a Ninja</h1>
        </div>
    </div>
    <div class="break"></div>
    <div id="footer">
        <h1>All the Dojos</h1>
    </div>
</body>
</html>