<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojos and Ninjas</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <div id="header">
        <div id="addDojo">
            <h1>Add a Dojo</h1>
            <form action="addDojo" method="post">
                {% csrf_token %}
                <div class="column">
                    <p>Name</p>
                    <p>City</p>
                    <p>State</p>
                </div>
                <div class="column">
                    <p><input type="text" name="name"></p>
                    <p><input type="text" name="city"></p>
                    <p><input type="text" name="state"></p>
                    <button type="submit">Add</button>
                </div>
            </form>
        </div>
        <div id="addNinja">
            <h1>Add a Ninja</h1>
            <form action="addNinja" method="post">
                {% csrf_token %}
                <div class="column">
                    <p>First Name</p>
                    <p>Last Name</p>
                    <p>Dojo</p>
                </div>
                <div class="column">
                    <p><input type="text" name="fname"></p>
                    <p><input type="text" name="lastName"></p>
                    <p>
                        <select name="dojo">
                            {% for dojo in dojoList %}
                            <option value="{{dojo.id}}">{{dojo.name}}</option>
                            {% endfor %}
                        </select>
                    </p>
                    <button type="submit">Add</button>
                </div>
            </form>
        </div>
    </div>
    <div class="break"></div>
    <div id="footer">
        <div id="dojoList">
            <h1>All the Dojos</h1>
            {% for dojo in dojoList %}
            <div class="dojos">
                <form action="/delete" method="post">
                    {% csrf_token %}
                    <h3>{{ dojo.name}}</h3>
                    <p><button type="submit" value="{{dojo.id}}" name="dojo">Delete</button></p>
                </form>
            </div>
            <ul>
                {% for ninja in dojo.ninja.all %}
                <li>
                    {{ ninja.firstName }} {{ ninja.lastName}}
                </li>
                {% endfor %}
            </ul>
            {% endfor %}
        </div>
    </div>
</body>

</html>