<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books and Authors</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <div id="header">
        <div id="addAuthor">
            <h1>Add an Author</h1>
            <div class="content">
                <div class="column">
                    <p>First Name</p>
                    <p>Last Name</p>
                    <p>Notes</p>
                </div>
                <div class="column">
                    <form action="/authorAdd" method="post">
                        {% csrf_token %}
                        <p><input type="text" name="firstName"></p>
                        <p><input type="text" name="lastName"></p>
                        <p><textarea name="note" cols="30" rows="5"></textarea></p>
                        <p><button type="submit">Add</button></p>
                    </form>
                </div>
            </div>
        </div>
        <div>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Action</th>
                </tr>
                {% for author in authors %}
                <tr>
                    <td>{{author.id}}</td>
                    <td>{{author.firstName}} {{ author.lastName }}</td>
                    <td><a href="/authors/{{author.id}}">View</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <a href="/" class="button">Go To Books</a>
</body>

</html>