<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{author.firstName}} {{author.lastName}}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <div id="header">
        <div>
            <h1>{{author.firstName}} {{author.lastName}}</h1>
            <div class="column">
                <p>ID: {{author.id}}</p>
                <p>Notes: {{author.notes}}</p>
                <p>Books:</p>
                <p>
                <ul>
                    {% for book in author.books.all %}
                    <li>{{book.title}}</li>
                    {% endfor %}
                </ul>
                </p>
            </div>
            <form action="/addBookToAuthor/{{author.id}}" method="post">
                {% csrf_token %}
                <select name="book">
                    {% for book in bookList %}
                    <option value="{{book.id}}">{{ book.title }}</option>
                    {% endfor %}
                </select>
                <button type="submit">Add</button>
            </form>
        </div>
    </div>
</body>

</html>